.dashboard {
  min-height: 100vh;
  height: 100%;
  position: relative;
  flex-direction: column !important;

  &-header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;

    &__heading {
      color: white !important;
      margin: 0 !important;
    }
    &__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: none;
      border: none;
      color: $color-2;
    }
  }

  &-sider {
    background: white;
    z-index: 0;
  }

  &-content {
    z-index: 1;
    height: 100%;
    padding: 100px 300px;
  }
}

//add post
.dashboard-add-post {
  background: white;

  &__button {
    margin: 25px 0 0 0;
    padding: 5px 15px !important;
    background: none !important;
    border: 0.5px solid gray !important;
    span {
      color: gray !important;
    }
  }
}

// posts card
.dashboard-posts {
  flex-wrap: nowrap;
  // masonry
  &__content {
    column-count: 3;
    gap: 10px;

    &-card {
      width: 100%;
      box-shadow: none !important;
      position: relative;
      display: block;
      line-height: 1.3;
      break-inside: avoid-column;
      margin-bottom: 10px;
    }
  }
}
//media query
@import "./Media.scss";
