@media screen and (max-width: 1700px) {
  .dashboard-content {
    padding: 80px 300px;
  }
}

@media screen and (max-width: 1600px) {
  .dashboard-content {
    padding: 80px 200px;
  }
}

@media screen and (max-width: 1500px) {
  .dashboard-content {
    padding: 80px 150px;
  }
}

@media screen and (max-width: 1300px) {
  .dashboard-content {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 1100px) {
  .dashboard-content {
    padding: 80px 50px;
  }
}
