@media screen and (max-width: 1700px) {
  .footer {
    padding: 80px 250px;
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    padding: 80px 200px;
  }
}

@media screen and (max-width: 1500px) {
  .footer {
    padding: 80px 150px;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 80px 50px;
  }
}

@media screen and (max-width: 780px) {
  .footer {
    &--header {
      margin-top: 20px;
    }
  }
}
