@media screen and (max-width: 1700px) {
  .navigation-menu {
    padding: 0px 300px;
  }
}

@media screen and (max-width: 1600px) {
  .navigation-menu {
    padding: 0px 200px;
  }
}

@media screen and (max-width: 1500px) {
  .navigation-menu {
    padding: 0px 150px;
  }
}

@media screen and (max-width: 1300px) {
  .navigation-menu {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 1100px) {
  .navigation-menu {
    padding: 0px 50px;
  }
}
