@import "./colours.scss";

button {
  margin-top: 30px;
  background: $color-1 !important;
  padding: 15px 30px !important;
  height: auto !important;
  border: none !important;
  span {
    color: white !important;
  }
}

.delete-button {
  padding: 5px 10px !important;
  color: white !important;
  background-color: #bf3636 !important;
  margin-right: 10px;
}

.update-button {
  padding: 5px 10px !important;
  background: none !important;
  span {
    color: gray !important;
  }
}

.logout-button {
  background: $color-2;
  color: white;
  border-radius: 50px !important;
}

.goto-home-button {
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
  span {
    color: $color-2 !important;
  }
}

.anticon-delete {
  background: none !important;
}

.ant-upload-list-item-card-actions-btn {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ant-upload-list-item-card-actions-btn span {
  color: #bf3636 !important;
}
