// default
@import "./colours.scss";
@import "./headings.scss";
@import "./buttons.scss";
// app
@import "../app/Home/styles/Home.scss";
@import "../app/Navigation/styles/Navigation.scss";
@import "../app/Footer/styles/Footer.scss";
@import "../app/Dashboard/styles/Dashboard.scss";
@import "../app/SinglePost/styles/SinglePost.scss";
@import "../app/SingleProject/styles/SingleProject.scss";
@import "../app/Blog/styles/Blog.scss";
@import "../app/Projects/styles/Projects.scss";
@import "../app/Auth/styles/Auth.scss";
// component
@import "../component/PostCard/styles/PostCard.scss";
@import "../component/RecentCard/styles/RecentCard.scss";
@import "../component/Single/styles/Single.scss";
@import "../component/Collection/styles/Collection.scss";
