// default
@import "./colours.scss";
@import "./headings.scss";
@import "./buttons.scss";
// app
@import "../app/Home/styles/Home.scss";
@import "../app/Navigation/styles/Navigation.scss";
@import "../app/Footer/styles/Footer.scss";
