.recent-post {
  width: 100%;
  &__heading {
    margin: 20px 0 20px 0 !important;
  }

  &__recent {
    .ant-image {
      height: 100%;
    }
  }

  &-card {
    &__image {
      border-radius: 50%;
      width: 80px;
      height: 100%;
    }
  }
}
