.recent-post {
  width: 100%;
  &__heading {
    margin: 20px 0 20px 0 !important;
  }

  &__recent {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    .ant-image {
      height: 100%;
    }
  }

  &__title {
    font-size: 25px !important;
  }

  &-card {
    &__image {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
}
