.post-card {
  box-shadow: 0 0 2px rgba($color: $color-1, $alpha: 0.1);

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    white-space: pre-wrap;

    .ant-btn:hover,
    .ant-btn:focus {
      border-color: $color-1;
      transition: all 0.3s ease;
    }
  }

  // controlled
  &__paragraph {
    width: 100%;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
