.post-card {
  box-shadow: 0 0 2px rgba($color: $color-1, $alpha: 0.1);

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &-col {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .ant-btn:hover,
    .ant-btn:focus {
      border-color: $color-1;
      transition: all 0.3s ease;
    }
  }
}
