@import "./styles/colours.scss";
// containers
.default {
  padding: 80px 400px;
}

// antd
.ant-col {
  padding: 0 !important;
}

.ant-image-img {
  cursor: pointer;
}

// media
@import "./Media.scss";
