@import "antd/dist/antd.css";
@import "./styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Signika", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
